<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="description" content="Moj prvi samostojni projekt">
      <meta name="keywords" content="HTML, FB, SmartNinja, Ljubljana">
      <meta name="author" content="Nataša Fink">

      <title>Fakebook</title>
      <link rel="stylesheet" href="style.css" type="text/css">
    </head>

<body>
    <img style="display: inline;" src="F_icon.png" width="40" height="40" alt="logo">
    <h1 style="display: inline;">&nbsp; &nbsp; FAKEBOOK &emsp; &emsp;</h1>
    <span><strong>Domov</strong></span>
    <div id=linebreak></div>
    <br>
    <br>
      Iskalnik: <input type="text" placeholder="Išči po imenu">
    <h2>Nataša Fink</h2>
      <img class="border" src="tn-5.jpg" alt="Natasa" width="300" padding=20px>
      <img class="logo" style="display: inline;" src="thumb.svg" width="300px" height="300px" padding=20px
           alt="logo">
      <br>
      <br>
      <div id="div">
        <button type="button">Dodaj za prijatelja</button>
      </div>
          <p class="text_color"><strong>Kraj:</strong> Ljubljana</p>
          <p class="text_color"><strong>Starost:</strong> 40+</p>
          <p class="text_color"><strong>Izobrazba:</strong> dipl. prof. ruščine</p>
          <p class="text_color"><strong>Hobi:</strong> igranje kitare</p>
          <p class="text_color"><strong>Št. FB prijateljev:</strong> 1.263</p>
          <p class="text_color"><strong>Št. FB neprijateljev:</strong> /</p>

    <div class="btn-group">
      <button class="button"><strong>Časovnica</strong></button>
      <button class="button"><strong>Več o</strong></button>
      <button class="button"><strong>Prijatelji 1.261</strong></button>
      <button class="button"><strong>Fotografije</strong></button>
      <select class="navselect">
        <option value="Več">Več</option>
        <option value="Videi">Videi</option>
        <option value="Prijave">Prijave</option>
        <option value="Šport">Šport</option>
      </select>
    </div>
</body>
</html>
